

h1 {
    color: black;
    text-align: center;
    font-style: italic;
    padding: 25px;
}

header {
    background-color: yellow;
}


input {
    border-color: blue ;
    display: inline;
}


label {
    text-decoration: underline;
    text-decoration-color: red;
    display: block;
}


h5 {
    color: green;
}

h2 {
    color: red;
}

.card {
    max-width: 400px;
    border-color: blue;
    border-width: thick;
}

.container {
    margin: 0px;
    max-width: none;
}